# Ignore obj directory
**/obj/

# Ignore bin directory
**/bin/

# Ignore Migrations directory
**/Migrations/

# Visual Studio and Rider
.vs/
*.user
*.suo
*.userprefs

# Configurations
.config/

# Visual Studio Code
.vscode/

# Properties
Properties/PublishProfiles/
Properties/ServiceDependencies/
Properties/serviceDependencies.local.json.user

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?


# Migrations
Data/Migrations
Migrations

config.Development.json
GuitarOnlineCourse.API/appsettings.json